body{
    font-family: "IBM Plex Mono";
    background: #F1C4D7;
    color: #606060;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

p {
    font-size: 1.25rem;
    text-align: left;
}

a {
    text-decoration: none;
    color: var(--text-color, #606060);
    font-size: 1.25rem;
}

.finder{
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    border: 3px solid var(--stroke, #E6E6E6);
    background: #F7F7F7;
    box-shadow: 12px 10px 20px 0 rgba(0, 0, 0, 0.15);
}

.finder#home{
    width: 60vw;
    height: 45vh;
}

.finder#projects{
    width: 82vw;
    height: 65vh;
}

.finder#projectindividual{
    width: 85vw;
    height: 80vh;
}

.navigation {  
    display: flex;
    width: 10.8125rem;
    padding: 1.1875rem 1.3125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1875rem;
    border-radius: 0.9375rem 0 0 0.9375rem;
    border-right: 3px solid var(--stroke, #E6E6E6);
    background: #ECECEC;
}

.navigation a {
    color: var(--text-color, #606060);
    font-family: "IBM Plex Mono";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navigation p{
    font-size: 0.9375rem;
    color: #808080;
    margin: 0;
}

.navigation ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.375rem;
    align-self: stretch;
    padding-left: 0px;
    margin: 0;
}
#decorationbuttons{
    display: flex;
    align-items: center;
    gap: 0.6875rem;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    flex: 1;
    min-width: 0;
}

#contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.375rem;
    align-self: stretch;
}

#header {
    display: flex;
    padding: 1.1875rem 2.25rem;
    align-items: center;
    gap: 1.625rem;
    align-self: stretch;

    border-radius: 0 0.9375rem 0 0;
    border-bottom: 3px solid var(--stroke, #E6E6E6);
    background: #F4F4F4;
}

.folders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0.6875rem 2.25rem;
}

#top-align {
    align-items: start;
}

.folder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5625rem;
    flex: 1;
    width: 12.75rem;
}

.folder img{
    width: 8.25rem;
    height: 7.1875rem;
    flex-shrink: 0;
    aspect-ratio: 132/115;
}

.horizontal-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.grid {
    display: inline-grid;
    row-gap: 2.5rem;
    column-gap: 15px;
    grid-template-rows: repeat(2, fit-content(100%));
    grid-template-columns:     fit-content(100%) fit-content(100%) fit-content(100%) 182px;
    align-items: start;
}

#all-sketch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    justify-content: space-between;
    flex: 1;
    height: 100%;     
}

#sketch-container {
    flex: 1;                  /* fills remaining space below the paragraph */
    width: 100%;
    margin-bottom: 2rem;
    position:relative;
}

.fa-solid {
    color: #E2E2E2;
}

#header a{
    color: #606060;
}