body{
    font-family: "IBM Plex Mono";
    background: #F1C4D7;
    color: #606060;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.875rem;
}

a {
    text-decoration: none;
    color: var(--text-color, #606060);
    font-size: inherit;
}

.finder{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    border: 3px solid var(--stroke, #E6E6E6);
    background: #F7F7F7;
    box-shadow: 12px 10px 20px 0 rgba(0, 0, 0, 0.15);
}

.finder#home{
    width: 60%;
    height: 45%;
}

.navigation {  
    display: flex;
    width: 10.8125rem;
    height: 27.5rem;
    padding: 1.1875rem 1.3125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1875rem;
    border-radius: 0.9375rem 0 0 0.9375rem;
    border: 3px solid var(--stroke, #E6E6E6);
    background: #ECECEC;
}

.navigation a {
    color: var(--text-color, #606060);
    font-family: "IBM Plex Mono";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navigation p{
    font-size: 0.9375rem;
    color: #808080;
}

#decorationbuttons{
    display: flex;
    align-items: center;
    gap: 0.6875rem;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.375rem;
    align-self: stretch;
}

#header {
    display: inline-flex;
    padding: 1.25rem 17.625rem 1.1875rem 2.25rem;
    align-items: center;
    gap: 1.625rem;

    border-radius: 0 0.9375rem 0 0;
    border: 3px solid var(--stroke, #E6E6E6);
    background: #F4F4F4;
}

.folder {
    display: flex;
    width: 12.75rem;
    height: 10.1875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5625rem;
    flex-shrink: 0;

    font-size: 1.875rem;
}

.folder img{
    width: 8.25rem;
    height: 7.1875rem;
    flex-shrink: 0;
    aspect-ratio: 132/115;
}
